[submodule "improved-diffusion"]
	path = improved-diffusion
	url = https://github.com/openai/improved-diffusion
[submodule "DeepLabV3"]
	path = DeepLabV3
	url = https://github.com/VainF/DeepLabV3Plus-Pytorch
