[submodule "DeepLab-V3"]
	path = DeepLab-V3
	url = https://github.com/leimao/DeepLab-V3
[submodule "improved-diffusion"]
	path = improved-diffusion
	url = https://github.com/openai/improved-diffusion
